.fa-facebook {
  transition: 1s;
  color: #fff; }

.fa-instagram {
  transition: 1s;
  color: #fff; }

.fa-youtube {
  color: #fff;
  transition: 1s; }

.fa-envelope {
  transition: 1s;
  color: #fff; }

.fa-spotify {
  color: #fff;
  transition: 1s; }

.fa-apple {
  color: #fff;
  transition: 1s; }

.apple {
  width: 70%; }

.fa-facebook:hover,
.fa-instagram:hover,
.fa-youtube:hover,
.fa-envelope:hover,
.fa-apple:hover,
.fa-spotify:hover {
  color: #f3e8b4; }

.mediaSquare {
  width: 25%; }

#slides .carousel-inner img {
  width: 100%;
  height: 100%; }

.social a {
  font-size: 4.5rem;
  padding: 3rem; }

.social .sMedia {
  position: relative;
  display: inline-block; }
  .social .sMedia .mediaImg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    justify-content: center;
    left: 12.5%; }
  .social .sMedia .links {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
    .social .sMedia .links .mediaText {
      text-align: center;
      font-size: 1.9rem;
      color: #fff; }

.padding {
  padding-bottom: 2rem; }
  .padding .welcome {
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem; }
    .padding .welcome .col-12 .shadowT {
      font-size: 3.6rem;
      color: #f3e8b4;
      letter-spacing: 0.1em; }

.blur {
  filter: blur(8px);
  transition: 2s; }

.sBlur {
  filter: blur(0px);
  transition: 2s; }

.sZoom {
  transform: scale(1);
  transition: 2s; }

.zoom {
  transform: scale(1.15);
  overflow-x: hidden;
  object-fit: cover;
  transition: 2s; }

.zoomVideo {
  transform: scale(1.03);
  transition: 2s;
  object-fit: cover; }

.container-fluid .row .bImgVideos {
  margin-top: 3%;
  left: 0.9%;
  width: 100%;
  background-image: url("../img/filip_video.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .container-fluid .row .bImgVideos .video {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%; }

.container-fluid .row .content {
  margin-top: 3%;
  display: flex;
  justify-content: center; }
  .container-fluid .row .content .cover {
    width: 60%;
    height: auto; }
  .container-fluid .row .content .linksMusic {
    color: #999999;
    font-size: 1.4rem; }

.container-fluid .row .containerLinks {
  width: 100%;
  height: auto; }
  .container-fluid .row .containerLinks .textContainer {
    display: flex;
    justify-content: center; }
    .container-fluid .row .containerLinks .textContainer .white {
      width: 60%;
      text-align: center;
      color: #f3e8b4;
      font-size: 1.4rem; }
  .container-fluid .row .containerLinks .backgroundLinks {
    background-color: #262626;
    border-radius: 25px;
    margin-bottom: 30px;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 10px; }
    .container-fluid .row .containerLinks .backgroundLinks .linksToMusic {
      font-size: 1.5rem;
      display: inline-block;
      width: 33%;
      text-align: center; }
    .container-fluid .row .containerLinks .backgroundLinks .linksA {
      color: #d1d1d1;
      text-transform: uppercase;
      font-family: 'Bitter', serif;
      transition: 1s; }
    .container-fluid .row .containerLinks .backgroundLinks .linksA:hover {
      color: #f3e8b4; }

@media screen and (max-width: 1200px) {
  .container-fluid .row .content .musicText {
    font-size: 1.7rem; }
  .container-fluid .row .content .linksMusic {
    font-size: 1.1rem; } }

@media screen and (max-width: 900px) {
  .container-fluid .row .content .musicText {
    font-size: 1.4rem; }
  .container-fluid .row .content .linksMusic {
    font-size: 0.9rem; } }

.container-fluid .row {
  display: flex; }
  .container-fluid .row .cContent {
    color: #fff;
    text-align: center; }
    .container-fluid .row .cContent .connectImg {
      width: 100%;
      object-fit: cover;
      height: 540px;
      margin-top: 30px;
      display: block; }

.cText {
  background-color: #fbf4f9;
  opacity: 0.7;
  font-size: 1.8rem;
  color: darkgray;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 28%; }

.mainText {
  margin: 20px 15px;
  font-size: 2rem;
  opacity: 1;
  color: black; }

.email {
  font-size: 1.8rem;
  opacity: 1;
  color: black;
  text-decoration: none; }

.email:hover {
  text-decoration: underline;
  text-decoration-color: #999999; }

.fbM {
  color: black;
  font-size: 1.8rem;
  text-decoration: none;
  opacity: 1; }

.fbMe {
  color: black; }

.fbMe:hover {
  color: black;
  text-decoration-color: #999999; }

@media screen and (max-width: 1200px) {
  .mainText {
    font-size: 1.8rem; }
  .email {
    font-size: 1.5rem; }
  .fbM {
    font-size: 1.5rem; } }

@media screen and (max-width: 900px) {
  .mainText {
    font-size: 1.2rem; }
  .email,
  .fbM {
    font-size: 0.9rem; } }

html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Muli', sans-serif;
  color: #222;
  background-color: #2d2d2d; }

.CR {
  font-weight: 500;
  font-size: 1.7rem; }

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #3f3f3f;
  color: #d5d5d5;
  padding-top: 2rem; }

.mainFooter {
  background: #3f3f3f;
  color: #d5d5d5; }

.navbar {
  padding: 0.8rem; }
  .navbar .container-fluid #navbarR .navbar-nav li {
    padding-right: 20px; }
  .navbar .container-fluid #navbarR .navbar-nav .active {
    font-size: 1.05rem; }
  .navbar .container-fluid #navbarR .navbar-nav .nav-link {
    font-size: 1.1em !important; }

hr.light {
  border-top: 1px solid #d5d5d5;
  width: 75%;
  margin-top: 0.8rem;
  margin-bottom: 1rem; }

.logo {
  height: 112px;
  width: auto; }

@media screen and (max-width: 1200px) {
  .social a {
    font-size: 4rem;
    padding: 2rem; }
  .mediaText {
    font-size: 1.7rem; }
  .zoom {
    transform: scale(1.05); }
  .shadowT {
    font-size: 3.5rem; } }

@media screen and (max-width: 768px) {
  .social a {
    font-size: 3rem;
    padding: 1.2rem; }
  .mediaText {
    font-size: 1.5rem; }
  .shadowT {
    font-size: 3rem; } }
