.container-fluid{
    .row{
        display: flex;
        .cContent{
            color: #fff;
            text-align: center;
            .connectImg{
                width: 100%;
                object-fit: cover;
                height: 540px;
                margin-top: 30px;
                display: block;
            }
        }
    }
}

.cText{
    background-color: #fbf4f9;
    opacity: 0.5;
    font-size: 1.8rem;
    color: darkgray;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
}

.mainText {
    margin: 20px 15px;
    font-size: 2rem;
    opacity: 1;
    color: black;
}

.email{
    font-size: 1.8rem;
    opacity: 1;
    color: black;
    text-decoration: none; 
}

.email:hover{
    text-decoration: underline;
    text-decoration-color: #999999;
}

.fbM{
    color: black;
    font-size: 1.8rem;
    text-decoration: none;
    opacity: 1;
}

.fbMe{
    color: black;
}

.fbMe:hover{
    color: black;
    text-decoration-color: #999999;
}


@media screen and (max-width: 1200px) {
    .mainText{
        font-size: 1.8rem;
    }
    .email{
        font-size: 1.5rem;
    }
    .fbM{
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 900px) {
    .mainText{
        font-size: 1.2rem;
    }
    .email, .fbM{
        font-size: 0.9rem;
    }
}