.fa-facebook {
	// color: #3b5998;
	transition: 1s;
	color: #fff;
}

.fa-instagram {
	// color: #c32aa3;
	transition: 1s;
	color: #fff;
}

.fa-youtube {
	// color: #bb0000;
	color: #fff;
	transition: 1s;
}

.fa-envelope {
	// color: #f4f4f4;
	transition: 1s;
	color: #fff;
}

.fa-spotify {
	color: #fff;
	transition: 1s;
}

.fa-apple {
	color: #fff;
	transition: 1s;
}

.apple {
	width: 70%;
}

.fa-facebook:hover,
.fa-instagram:hover,
.fa-youtube:hover,
.fa-envelope:hover,
.fa-apple:hover,
.fa-spotify:hover {
	color: #f3e8b4;
}

.mediaSquare {
	width: 25%;
}
