
.container-fluid {
    .row {
        .content {
            margin-top: 3%;
            position: relative;
            .musicText {
                color: #f4f4f4;
                font-size: 1.4rem;
            }
            .fa-spotify{
                color: #fff;
                font-size: 4rem;
                position: absolute;
                left: 20%;
            }
        }
    }
}