.container-fluid{
    .row{
        .bImgVideos{
            margin-top: 3%;
            left: 0.9%;
            width: 100%;
            background-image: url("../img/Etiopien\ 1.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            .video{
                margin-top: 5%;
                margin-bottom: 5%;
                margin-left: 5%;
            }
        }
    }
}